@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(35deg, #d7f5fc 50%, #c7e7fc 50%);
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

/* Navbar btns (Link) */
.black-btn{
  border-radius: 20%;
  border: 1px solid #fff;
  color: white;
  padding: 0 .5rem 0;
}
.black-btn:hover{
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}


.test-colors{
  color: #f508e9;
}