@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Body and main in app/layout.js */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #d8e8ff, #f0f8ff);
}
body::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 10%;
  width: 50vw;
  height: 50vh;
  background: linear-gradient(to right, rgba(0, 0, 255, 0.1), rgba(255, 255, 255, 0));
  transform: rotate(45deg);
  z-index: 1;
  pointer-events: none;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}
/* Navbar btns (Link) */
.black-btn{
  color: white;
  padding: 0 .5rem 0;
}
.black-btn:hover{
  position: relative;
  outline: none;
  background-color: #1e40af;
  color: #fff;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
}
.black-btn::before,
.black-btn::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
}
.black-btn:hover::before,
.black-btn:hover::after {
  opacity: 0.15;
  transition: all 0.6s;
}
.black-btn:hover::before {
  transform: translate3d(50%, 0, 0);
}
.black-btn:hover::after {
  transform: translate(50%, 0);
}
.black-btn2:hover{
  background-color: #c2414c;
}

.test-colors{
  color: #f508e9;
  color: rgba(54, 82, 240, 0.2);
}