@keyframes dropdown-open {
    from {
        max-height: 0;
        opacity: 0;
}
    to {
        max-height: 500px; 
        opacity: 1;
    }
}
@keyframes dropdown-close {
    from {
        max-height: 500px; 
        opacity: 1;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}
.dropdown-open {
    overflow: hidden;
    animation: dropdown-open 2s forwards;
    padding-left: 1.5rem;
}
.dropdown-close {
    overflow: hidden;
    animation: dropdown-close 1s forwards;
    padding-left: 1.5rem; 
}
